<ion-content>

  <ion-content style="--background: #D8D2C1; position: relative">
    <div style="width: 100%; height: 100%; background: #D8D2C1; position: absolute; top: 0px; left: 0px; z-index: -99">
    </div>
    <div>
      <div style="width: 100%; display: flex; flex-direction: column; align-items: center; padding: 0px 30px">
        <div style="height: 25vh; width: 100%; max-height: 200px; min-height: 150px;"></div>
        <div
          style="width: 100%; max-width: 300px; background: #FAF0E6 ;border: 0.5px solid #999; border-radius: 20px; padding: 32px 24px 24px 24px; display: flex; flex-direction: column;">
          <div
            style="height: 40px; width: 100%; background: #ffffff; border-radius: 15px; margin-bottom: 32px; display: flex; align-items: center; justify-content: center;">
            <ion-input [(ngModel)]="user.email" style="font-size: 12px; --padding-start: 16px" type="text"
              placeholder="Email..."></ion-input>
          </div>
          <div
            style="height: 40px; width: 100%; background: #ffffff; border-radius: 15px; margin-bottom: 32px; display: flex; align-items: center; justify-content: center;">
            <ion-input [(ngModel)]="user.password" style="font-size: 12px; --padding-start: 16px" type="password"
              placeholder="Password..."></ion-input>
          </div>

          <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

              <div (click)="login()"
                style="height: 40px; width: 112px; background: #7fd1ae; color: #fafafa; border-radius: 25px; display: flex; align-items: center; justify-content: center; font-size: 15px">
                Log in</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-content>