.addBook {
  position: fixed;
  bottom: 32px;
  right: 32px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #7fd1ae;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBookLarge {
  position: fixed;
  bottom: 128px;
  right: 128px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #7fd1ae;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
